{% extends "base.html" %} {% block title %}FODA - Amawta Chacha{% endblock %} {%
block content %}
<div class="foda-header">
  <h1>FODA: Bryan Quishpe</h1>
  <p>Estudiante de ingeniería en sistemas | 6to semestre</p>
</div>
<div class="foda-grid">
  <div class="cuadrante fortalezas">
    <h2>💪 Fortalezas</h2>

    <ul>
      <li>Conocimiento práctico en Github , Virtual Box.</li>
      <li>Persistencia en resolver ejercicios y problemas.</li>
      <li>Capcidad de trabajar en equipo.</li>
    </ul>
  </div>
  <div class="cuadrante oportunidades">
    <h2>🚀 Oportunidades</h2>
    <ul>
      <li>Demanda laboral en ciberseguridad , redes, desarrollo y cloud.</li>
      <li>
        Crecimiento en áreas de automatización, scripting y administración de
        sistemas
      </li>
      <li>Oportunidades de certificación(Cisco, AWS, AZURE).</li>
    </ul>
  </div>
  <div class="cuadrante debilidades">
    <h2>📉 Debilidades</h2>
    <ul>
      <li>
        Falta de organización en documentación técnica y redacción formal.
      </li>
      <li>Falta de decisiones eficientes en el desarrollo de proyectos.</li>
      <li>
        Falta de mayor práctica en programación avanzada y bases de datos.
      </li>
    </ul>
  </div>
  <div class="cuadrante amenazas">
    <h2>⚠️ Amenazas</h2>
    <ul>
      <li>
        Nuevas tecnologías avanzan rápido y requieren constante actualización.
      </li>
      <li>Competencia alta en el campo de sistemas y teconología.</li>
      <li>
        Brechas salariales en el sector si no se actualizan conocimientos.
      </li>
    </ul>
  </div>
</div>
<div class="actions"><a href="/" class="btn-back">← Volver</a></div>
{% endblock %}
