{% extends "base.html" %}



{% block title %}FODA Personal{% endblock %}



{% block content %}
    <div class="foda-header">
        <h1>FODA: [FRANCO SANTIAGO CRIOLLO]</h1>
        <p>Desarrollador en Formación</p>
    </div>

    <div class="foda-grid">
        <div class="cuadrante fortalezas">
            <h2>💪 Fortalezas</h2>
            <ul>
                <li>No me rindo y diguo preguntando hasta entender las cosas</li>
                <li>Resistencia física y mental</li>
            </ul>
        </div>

        <div class="cuadrante oportunidades">
            <h2>🚀 Oportunidades</h2>
            <ul>
                <li>Empresas de desarrollo y análisis de datos que buscan ingenieros en Sistemas de Información</li>
                <li>Distintos lenguajes de programación, BD, frameworks de desarrollo de software y matemáticas</li>
            </ul>
        </div>

        <div class="cuadrante debilidades">
            <h2>📉 Debilidades</h2>
            <ul>
                <li>Procastino mucho y pierdo el tiempo</li>
                <li>Dejar de perder tanto tiempo en redes sociales y saaber aprovechar ese tiempo para descansar o invertirlo en actividades que me ayuden a crecer</li>
            </ul>
        </div>

        <div class="cuadrante amenazas">
            <h2>⚠️ Amenazas</h2>
            <ul>
                <li>El crecimiento de las redes sociales y algoritmos que me atraen demasiado a pasar tiempo en ello </li>
                <li>Cada día existe más ingenieros en mi campo y muchos están más preparados que yo</li>
            </ul>
        </div>
    </div>

    <div class="actions">
        <a href="/" class="btn-back">← Volver al Tablero</a>
    </div>
{% endblock %}