{% extends "base.html" %}



{% block title %}FODA Personal{% endblock %}



{% block content %}
    <div class="foda-header">
        <h1>FODA: Kennet Steveen Rodríguez López</h1>
        <p>Desarrollador en Formación</p>
    </div>

    <div class="foda-grid">
        <div class="cuadrante fortalezas">
            <h2>💪 Fortalezas</h2>
            <ul>
                <li>Habilidad de aprender tecnologías por mi cuenta</li>
                <li>Perseverante</li>
                <li>Insistente en resolver problemas</li>
                <li>Puntual en deberes</li>
            </ul>
        </div>

        <div class="cuadrante oportunidades">
            <h2>🚀 Oportunidades</h2>
            <ul>
                <li>Vivir en auge de la IA</li>
                <li>Muchas información para aprender en la red</li>
                <li>Comunidades de desarrolladores para preguntar</li>
                <li>Salud</li>
            </ul>
        </div>

        <div class="cuadrante debilidades">
            <h2>📉 Debilidades</h2>
            <ul>
                <li>Irresponsable en ocasiones</li>
                <li>Procastino mucho</li>
                <li>No dar tiempo a mi familia</li>
                <li>Saber que no se diferentes cosas y no aprender</li>

            </ul>
        </div>

        <div class="cuadrante amenazas">
            <h2>⚠️ Amenazas</h2>
            <ul>
                <li>Aumento de competencia</li>
                <li>Inseguridad del pais (Que me roben mis dispositivos)</li>
                <li>Posibles desastres naturales</li>
                <li>Posibles enfermedades nuevas</li>

            </ul>
        </div>
    </div>

    <div class="actions">
        <a href="/" class="btn-back">← Volver al Tablero</a>
    </div>
{% endblock %}